[submodule "vim/.vim/bundle/vim-localvimrc"]
	path = vim/.vim/bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/bundle/vim-latex"]
	path = vim/.vim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
